.home__page {
    background-color: red;
    height: 700px;
    color: white !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background:rgb(21, 21, 21);
}

.content {
    padding: 10%;
    width: 100%;
}
.laptop img{
    object-fit: contain;
    width: 100%;
}
.pdfimgsdata{
    width: 90%;
    cursor: pointer;
    border-radius: 10px 10px ;
    margin: 10px;
    transition:all 1s ease-in-out;
}
.pdfimgsdata:hover{
    transform: scale(1.05);
}
@media screen and (max-width:500px) {
    .pdfimgsdata{
        width: 100%;
        padding-left: 30px;
        cursor: pointer;
    }
}