.inputs{
    width: calc(100% - 50%);
}
.signup-div{
    display: flex;
    background-color: transparent;
    justify-content:center;
    align-items: center;
   
}
.loginpage{
    height: 100vh;
    background-color: white;
}
.imglogin{
    width: 100%;
    height: calc(100vh - 30vh);
    object-fit: contain;
}
@media (max-width:600px) {
    .imgdelete{
        display: none;
    }
    .center-div{
        margin-left:5%;
      
    }
  }
